{
  "parser": "babel-eslint",
  "rules": {
    "indent": [2, 4],
    "comma-dangle": 0,
    "react/jsx-indent": [2, 4], // personal
    "react/jsx-indent-props": 0 // personal
  },
  // https://github.com/airbnb/javascript/blob/master/packages/eslint-config-airbnb/rules/react.js
  "extends": ["airbnb"]
}