<!doctype html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="UTF-8">
    <title>Engine</title>
</head>
<body>
<div>markok</div>
<div>age ${input.count} </div>
<div id="root"></div>
<script>window.state = ${input.name}</script>
</body>
</html>