<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>html title</title>
<meta name="charset" content="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link href="/main.css" rel="stylesheet"></head>
<body>
    <div id="marko">Marko here</div>
    <div id="root"></div>
    <script>window.state = '${input}'</script>
<script type="text/javascript" src="/main.bundle.js"></script></body>
</html>