<!doctype html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="UTF-8">
    <title>Engine</title>
</head>
<body>
<div>markok</div>
<div>age ${input.count} </div>
<div>name ${input.name} </div>
<div>colors ${input.colors} </div>
<div id="root"></div>
<div id="container">
    <div>asd</div>
</div>
</body>
</html>